<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="config">
    <meta charset="utf-8">
    <title>MyPizza MSA Platform</title>
    <!--jquery script-->
    <script src="/common-service/js/jquery-3.7.1.js"></script>
    <!--jquery-ui css, js-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <!--bootstrap 용 css, js-->
    <link rel="stylesheet" href="/common-service/css/bootstrap.min.css">
    <script src="/common-service/js/bootstrap.bundle.min.js"></script>
    <script src="/common-service/js/mypizza-util.js"></script>
    <script src="/common-service/js/common.js"></script>
</head>
</html>